= bootstrap_form_for @calendar, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10', class: 'calendar-form' do |f|
  .col-sm-10.col-sm-offset-2.required= :indicates_required_field.l
  = f.text_field :name
  = f.text_area :description, class: 'date-book--wysiwyg'
  = f.text_field :css_class
  = f.submit :save_model.l(model: Calendar.model_name.human)