- add_title Calendar.model_name.human.pluralize
= date_book_scripts
.row
  .col-md-3
    %ul.calendars
      - @calendars.each do |calendar|
        %li.calendar{ class: calendar.css_class }
          = link_to calendar.name, calendar
  .date-book--wrapper.col-md-9
    .date-book--spinner
      = icon 'spinning fa fa-spinner'
    .date-book--calendar
- add_footer_javascript do
  :javascript
    $(function() {
      var calendar = $('.date-book--calendar');
      var spinner = $('.date-book--spinner');
      calendar.fullCalendar({
        events: {
          url: '#{date_book.api_path format: :json}',
          type: 'POST',
          data: { query: calendarEventsQuery },
          success: function(data, status, xhr) {
            data = data.data.event_occurrences;
            new_data = $.map(data, formatEventOccurrence);
            return new_data;
          }
        },
        eventRender: calendarEventRender,
        header: calendarEventHeader,
        firstDay: #{DateBook.week_start_index},
        loading: function( isLoading, view ) {
            if(isLoading) {// isLoading gives boolean value
                spinner.show();
            } else {
                //hide your loader here
                spinner.hide();
            }
        },
        eventAfterAllRender: function (view) {
          spinner.hide();
        }
      });
    });
