= f.form_group :day_of_week, label: { text: :day_and_week.l }, class: 'date-book--day-of-week' do
  %table.table.table-striped.table-bordered
    %tr
      %th= :week_number.l
      - DateBook.weekdays.each do |day|
        %th= day.name
    - 5.times do |i|
      :ruby
        week_num = (i == 4) ? -1 : i + 1
      %tr
        %th
          - if week_num == -1
            = :last.l
          - else
            = week_num.ordinalize
        - DateBook.weekdays.each do |day|
          %td
            = f.fields_for :day_of_week do |day_fields|
              = day_fields.check_box_without_bootstrap day.name.downcase, { multiple: true, checked: f.object.day_of_week[day.name.downcase]&.include?(week_num.to_s) }, week_num.to_s, nil
