- add_title @event.name
.event
  = date_book_scripts
  = event_occurrence_dates @event
  %dl.dl-horizontal
    %dt= :owner.l
    %dd= @event.owners.first.name
  %dl.dl-horizontal
    %dt= Calendar.model_name.human
    %dd= link_to @event.calendar.name, @event.calendar
  = @event.description.html_safe

  - if can? :edit, @event
    = icon_link_to 'pencil', :edit.l, date_book.edit_calendar_event_path(@event.calendar, @event), class: 'btn btn-info'
  - if can? :delete, @event
    = icon_link_to 'remove', :delete.l, [@event.calendar, @event], class: 'btn btn-danger', method: :delete, data: { confirm: :are_you_sure.l }
