- add_title @event.name
.date_book_event
  = date_book_scripts
  = event_occurrence_dates @event
  %dl.dl-horizontal
    %dt= :owner.l
    %dd= @event.owners.first.name
  = @event.description.html_safe

  - if can? :edit, @event
    = icon_link_to 'pencil', :edit.l, date_book.edit_event_path(@event), class: 'btn btn-info'
  - if can? :delete, @event
    = icon_link_to 'remove', :delete.l, date_book.event_path(@event), class: 'btn btn-danger', method: :delete, data: { confirm: :are_you_sure.l }
